<!DOCTYPE html>
<html>

<head>
    <title>Back office NFE - Interventions</title>
    <link rel="stylesheet" href="css/shared.css" />
</head>

<%- include("../header"); %>

<body>
    <h1 class="title">Interventions</h1>
</body>

</html>