#report_incident_input {
    position: relative;
    top: 10px;

    width: 60%;
    height: 60px;

    color: white;
    font-weight: bold;

    background: linear-gradient(to right, #F1471C 0%, #F1471C 50%, #00337D 0%, #00337D 100%);
    border-style: solid;
    border: none;
}

.confirmation_div {
    text-align: center;
    width: 60%;

    margin-left: auto;
    margin-right: auto;

    background-color: limegreen;
    color: white;
    font-size: 20px;
}

.error_div {
    text-align: center;
    width: 60%;

    margin-left: auto;
    margin-right: auto;

    background-color: red;
    color: white;
}