<!DOCTYPE html>
<html>

<head>
    <title>Back office NFE - Congés</title>
    <link rel="stylesheet" href="css/global.css" />
</head>

<%- include("../header"); %>

<body>
    <h1 class="title">Liste des congés</h1>
</body>

</html>