<!DOCTYPE html>
<html>

<head>
    <title>Back office NFE - Agents</title>
    <link rel="stylesheet" href="css/global.css" />
</head>

<%- include("../header"); %>

<body>
    <h1 class="title">Agents</h1>
</body>

</html>