<!DOCTYPE html>
<html>

<head>
    <title>Back office NFE - Incident <%= incident.name %></title>
    <link rel="stylesheet" href="css/shared.css" />
</head>

<%- include("../header"); %>

<body>
    <h1>Le nom de l'incident est <%= incident.name %></h1>
</body>

</html>