<!DOCTYPE html>
<html>
    <head>
        <title>Back office NFE - Incident non trouvé</title>
    </head>

    <%- include("../header"); %>

    <body>
        <h1>L'incident <% id %> n'a pas pu être trouvé...</h1>
    </body>
</html>