<head>
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/global.css" />
</head>

<header>
    <a href="/" id="back_office_logo">Back office</a>
    
    <a href="/logout">
        <button id="disconnect_button">Déconnexion</button>
    </a>
</header>