<!DOCTYPE html>
<html>

<head>
    <title>Back office Opérateur</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/shared.css" />
</head>

<%- include("header"); %>

<body>
    <div id="menu">
        <a href="/incidents">
            <button class="menu_button" id="incidents_button">Incidents</button>
        </a>

        <a href="/interventions">
            <button class="menu_button" id="interventions_button">Interventions</button>
        </a></br>

        <a href="/agents">
            <button class="menu_button" id="agents_button">Agents</button>
        </a>

        <a href="/holidays">
            <button class="menu_button" id="holidays_button">Congés</button>
        </a></br>
    </div>

    

</body>

</html>