<!DOCTYPE html>
<html>
    <head>
        <title>Back office NFE - <%= resource_type %> introuvable</title>
    </head>

    <%- include("header"); %>

    <body>
        <h1>L'<%= resource_type %> <% id %> n'existe pas...</h1>
    </body>
</html>