<!DOCTYPE html>
<html>
    <head>
        <title>Back office NFE - <%= resource_type %> introuvable</title>
    </head>

    <%- include("header"); %>

    <body>
        <br><br>
        <h1 class="title">L'<%= resource_type %> n°<%= id %> n'existe pas...</h1>
    </body>
</html>