#modify {
    width: 30%;
}

#delete, #close {
    width: 30%;
}

.success, .error {
    text-align: center;
    width: 60%;

    margin-left: auto;
    margin-right: auto;

    color: white;
}

.success { 
    background-color: limegreen;
}

.error {
    background-color: red;
}

.done {
    width: 40%;
    height: 20px;

    background-color: green;
}

.notdone {
    width: 40%;
    height: 20px;

    background-color: red;
}