header, body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

button:hover {
    cursor: pointer;
}

input {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

textarea:hover {
    cursor: pointer;
}

td:hover {
    cursor: pointer;
}