table, tr, td {
    border-style: solid;
    border: 1px;
}

table thead {
    color: white;
    background-color: seagreen;
}

td {
    color: white;
    background-color: #40bf77;

    padding: 5px;
}

.control_button {
    border: none;
    background-color: seagreen;
    font-size: 20px;
    color: white;

    padding: 5px;
}