#menu {
    position: relative;
    top: 100px;

    text-align: center;
    font-size: 0;
}

.menu_button {
    width: 500px;
    height: 300px;
    border: none;

    color: white;
    font-size: 26px;
    font-weight: bold;
}

#incidents_button {
    background-color: seagreen;
}

#interventions_button {
    background-color: sienna;
}

#agents_button {
    background-color: indigo;
}

#holidays_button {
    background-color: firebrick;
}